Work/backlog/v1_Mulesoft.json
Work/backlog/v1_JMS.json
Work/backlog/Snowflake_export.xlsx
Work/backlog/PP_1001980349_Mulesoft.json
Work/backlog/cegid_discrepancy.java
Work/backlog/Cegid Discrepancy.md
Work/backlog/04J0126610020_Mulesoft.json
Work/backlog/03G0128510058_Mulesoft.json
Work/backlog/04J0126610020_JMS.json
Work/backlog/03G0128510058_JMS.json
Work/backlog/0UN0020510022_Mulesoft.json
Work/backlog/0UN0020510022_JMS.json
Work/USA_addresses_3k.json
Work/USA_addresses_1k.json
Work/pythonscript.py
Work/address_length.json
Work/address_length_exceeded.json
